*.npz
Sprint 17 Final Project/Final_Project (6).ipynb
Sprint 17 Final Project/catboost_info/catboost_training.json
Sprint 17 Final Project/catboost_info/learn_error.tsv
Sprint 17 Final Project/catboost_info/time_left.tsv
Sprint 17 Final Project/catboost_info/learn/events.out.tfevents
Sprint 17 Final Project/catboost_info/catboost_training.json
Sprint 17 Final Project/catboost_info/learn_error.tsv
Sprint 17 Final Project/catboost_info/time_left.tsv
Sprint 17 Final Project/catboost_info/learn/events.out.tfevents
17_final_project/final_provider
14_machine_learning_for_texts/datasets/
14_machine_learning_for_texts/results/
14_machine_learning_for_texts/0.26.0'