*.npz
Sprint 17 Final Project/Final_Project (6).ipynb
Sprint 17 Final Project/catboost_info/catboost_training.json
Sprint 17 Final Project/catboost_info/learn_error.tsv
Sprint 17 Final Project/catboost_info/time_left.tsv
Sprint 17 Final Project/catboost_info/learn/events.out.tfevents
